<html>

<head>
</head>

<body ng-app="app.ng" class="container ng-cloak">
    <input type="hidden" name="_csrf" value='<%= csrfToken %>' />
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="txClub">
        <div ui-view></div>
    </div>
</body>

</html>