<div>
    <div class='row'>
        <h2>Welcome to Angular + ES6 Demo</h2>
    </div>
    <div class='row'>
        <label>UserName:</label>
        <div class='row'>
            <div class='col-md-6'>
                <input class='form-control' data-ng-model="vm.userName" />
            </div>
        </div>
    </div>
    <div class='row'>
        <label>Password:</label>
        <div class='row'>
            <div class='col-md-6'>
                <input type='password' class='form-control' data-ng-model='vm.password' />
            </div>
        </div>
    </div>
    <br/>
    <div class='row'>
        <button class='btn btn-primary' data-ng-click='vm.login()'>Login</button>
    </div>
</div>